{{>header}}
<title>  {{title}}</title>
{{>navbar}}


{{>hero}}
<div class="container-fluid my-3 text-center">
    <h1>Thank You</h1>
    <h2>Your Email Address Has Bees Registered</h2>
    <h5>Now We Can Send Email To You Regarding Programs Updates</h5>
    <p>#If You Want to Unsubscribed please Contact us</p>
    <a href="/contact" class="btn btn-primary">Contact-Us</a>
</div>


{{>footer}}